
<nav class="navbar">
    <div class="bg-light">
      <ul class="list-unstyled d-flex justify-content-center align-items-center">
        <li class="nav-item m-3">
          <a class="nav-link" href="#" (click)="mostrarComponente('list'); $event.preventDefault();">Inicio</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="#" (click)="mostrarComponente('list'); $event.preventDefault();">Artículos</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="#" (click)="mostrarComponente('template'); $event.preventDefault();">Nuevo artículo template</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="#" (click)="mostrarComponente('reactive'); $event.preventDefault();">Nuevo artículo reactivo</a>
        </li>
      </ul>
    </div>
  </nav>
  